@import url('./todayTimeGraph.css');
@import url('./calendar.css');
@import url('./CompleteGraph.css');
@import url('./ToDoList.css');
@import url('./todayMemo.css');
@import url('./title.css');
.mainScreen{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    background-color: #EAEFFB;
}
.gridContainer{
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 400px 500px 400px 300px;
    grid-template-rows: 200px 400px 200px;
    gap: 30px;
    padding: 30px;
}
