@import url('./barGraph.css');
@import url('./calendar.css');
@import url('./CompleteGraph.css');
@import url('./ToDoList.css');
@import url('./timeStatistics.css');

.mainScreen{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.gridContainer{
    height: 100%;
    background-color: #EAEFFB;
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    grid-template-rows: 7fr 3fr;
    gap: 30px;
    padding: 30px;
}
