nav{
    position: fixed;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    height: 66px;
    width: 100vw;
    z-index: 10;
}
.navLeft{
    background-color: #506BBF;
    width: 250px;
    height: 66px;
}

.navCenter{
    background-color: rgb(89, 116, 200);
}
.navRight{
    background-color: rgb(80, 107, 191);
}
.leftScreen{
    background-color: #3A466B;
    position: fixed;
    width: 250px;
    height: 100vh;
}
